{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% trans 'folioscope_title' %}</title>
	{% include 'folioscope/styles.inc' %}
	{% include 'folioscope/libraries.inc' %}

	<link rel="stylesheet" href="{% static "folioscope/integration.css" %}" type="text/css" media="all" title="Default styles" />
</head>

<body>

<div class="bannerSection furniture">
	<a href="/"><img class="headerLogo" src="http://www.ancientwisdoms.ac.uk/media/website/_a/images/saws-logo.png" alt="Sharing Ancient Wisdoms"/></a>
	<div id="settingsContainer">
		<span id="indices" title="Indices"></span>
		<span id="visualiser" class="disabled" title="Visualiser"></span>
		<span id="settings" title="Change Settings"></span>
		<span id="addColumn" title="Add Column"></span>
		<span id="menuControl" class="menuVisible" title="Toggle Menu"></span>
	</div>
</div>

<div id="siteMenu" class="furniture">
	<ul class="inline">
		<li><a class="navLink selected first" href="/">Home</a></li>
		<li><a class="navLink" href="/library/">Dynamic Library</a></li>
		<li><a class="navLink" href="/method/">Methodology</a></li>
		<li><a class="navLink" href="/future/">Future Work</a></li>
		<li><a class="navLink" href="/about/">About</a></li>
		<li><a class="navLink" href="/help/">Help</a></li>
	</ul>
</div>

{% include 'folioscope/folioscope_container.inc' %}

<div class="footerSection furniture">
	<span id="logoLeftContainer">
		<a href="http://www.heranet.info" title="HERA"><span id="hera"></span></a>
	</span>
	<span id="centralLinks">
		<span id="citationInfo"><a href="">How to cite</a></span>
		<span id="thanks"><a href="">Thanks</a></span>
		<span id="tour"><a href="">Tour</a></span>
		<span id="pv-debug"></span>
	</span>
	<span id="logoRightContainer">
		<a href="http://www.univie.ac.at/en/" title="University of Vienna"><span id="wien"></span></a>
		<a href="" title=""><span id="uppsala"></span></a>
		<a href="http://www.kcl.ac.uk/artshums/depts/ddh/index.aspx" title="Digital Humanities at Kings College London"><span id="kings"></span></a>
		<a href="http://ec.europa.eu/research/fp7/" title="Framework 7"><span id="fp7"></span></a>
	</span>
</div>


<div id="documentMenu"></div>

<div id="infoDialog" title="ERROR"></div>

<div id="indicesDialog" title="Indices">
	<div class="types">
	<a href="person">People</a> | <a href="place">Places</a> | <a href="place/type:ethnic">Places (Ethnic)</a> | <a href="name">Names</a>  | <a href="name/type:ethnic">Names (Ethnic)</a>
	</div>
	<div class="contents">
	</div>
	<div class="pv-loadingModal"></div>
</div>

<div id="sgvzlDialog" title="Visualisation">
<div id="sgvzl_example1"
      data-sgvizler-endpoint="/sesame/repositories/saws"
      data-sgvizler-query="SELECT DISTINCT ?node   ?node2
		WHERE {
		  { ?node ?property ?node2 }
		  UNION
		  { ?node2 ?property ?node } .
		FILTER (?node=$NODE$)
		}
		"
      data-sgvizler-chart="dForceGraph"
      data-sgvizler-loglevel="0"
      data-sgvizler-chart-options="is3D=true|title=Number of instances"
      style="width:800px; height:400px;"></div>
</div>

<div id="tour-Dialog" title="Tour">
	<div id="tour-Text"></div>
	<div id="tour-Button">Next</div>
</div>
<div id="tour-Arrow"></div>

{% include 'folioscope/settings_dialog.inc' %}
{% include 'folioscope/doc_settings_dialog.inc' %}

<div id="infoPopup">
</div>

</body>

</html>
